{% extends 'base.html.twig' %}

{% block title %}Editar curso{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h2>Editar curso</h2>
            <form action="" method="post" class="mb-2">
                {% include 'common/field.html.twig' with
                    {type: 'select', entity: 'course', name: 'dayOfWeek', label: 'Día', options: daysOfWeek(), value: course.dayOfWeek[0], required: true} only %}

                {% include 'common/field.html.twig' with
                    {type: 'time', entity: 'course', name: 'time', label: 'Hora', value: course.time|formatTime, required: true} only %}

                {% include 'common/field.html.twig' with
                    {type: 'select', entity: 'course', name: 'school', label: 'Escuela', options: schools, value: course.school, required: true} only %}

                {% include 'common/field.html.twig' with
                    {type: 'select', entity: 'course', name: 'place', label: 'Lugar', options: places, value: course.place} only %}

                {% include 'common/field.html.twig' with
                    {type: 'select', entity: 'course', name: 'discipline', label: 'Disciplina', options: disciplines, value: course.discipline} only %}

                {% include 'common/field.html.twig' with
                    {type: 'select', entity: 'course', name: 'level', label: 'Nivel', options: levels, value: course.level} only %}

                {% include 'common/field.html.twig' with
                    {type: 'select', entity: 'course', name: 'age', label: 'Edad', options: ages, value: course.age} only %}

                {% include 'common/field.html.twig' with
                    {type: 'date', entity: 'course', name: 'initDate', label: 'Fecha inicio', value: course.initDate|formatDate} only %}

                {% include 'common/field.html.twig' with
                    {type: 'date', entity: 'course', name: 'finishDate', label: 'Fecha final', value: course.finishDate|formatDate} only %}

                {% include 'common/field.html.twig' with
                    {type: 'checkbox', entity: 'course', name: 'active', label: 'Activo', value: course.active} only %}

                {% if canEdit %}
                    <button type="submit" class="btn btn-primary btn-block">Editar</button>
                    <a href="{{ path('course_delete', {course_id: course.id|encodeUuid}) }}" class="btn btn-danger btn-block confirmable">Borrar</a>
                {% endif %}
            </form>
            <a href="{{ path('course_index', {type: 'active'}) }}">Volver a la lista</a>
        </div>
        <div class="col-6">
            <h2>Listados</h2>
            {% for season in seasons %}
                <ul>
                    {% for period in season.periods %}
                        <li>
                            <a href="{{ path('listing_edit', {listing_id: course.listing.id|encodeUuid, period_id: period.id|encodeUuid}) }}">
                                {{ period.name }} ({{ period.initDate|showDate }} - {{ period.finishDate|showDate }})
                            </a>
                            <a href="{{ path('period_edit', {period_id: period.id|encodeUuid}) }}"><i class="fa fa-pencil-square-o"></i></a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}
