{% extends 'base.html.twig' %}

{% block title %}Cursos{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            {% set params = app.request.query %}
            {% set type = app.request.attributes.get('_route_params').type %}
            <h2>Cursos <a href="{{ path('course_new') }}" class="btn btn-primary">Nuevo</a>
                <a class="btn {{ 'active' == type ? 'btn-outline-primary disabled' : 'btn-link' }}"
                   href="{{ path('course_index', params|merge({type: 'active'})) }}">Activos</a>
                <a class="btn  {{ 'inactive' == type ? 'btn-outline-primary disabled' : 'btn-link' }}"
                   href="{{ path('course_index', params|merge({type: 'inactive'})) }}">Inactivos</a>
                <a class="btn  {{ 'all' == type ? 'btn-outline-primary disabled' : 'btn-link' }}"
                   href="{{ path('course_index', params|merge({type: 'all'})) }}">Todos</a>
            </h2>
            {% include 'common/search.html.twig' with {search: search, route: path('course_index', {type: type})} only %}
            <table class="table table-sm table-hover">
                <tr>
                    <th scope="col">Curso</th>
                    <th scope="col">Escuela</th>
                    <th scope="col">Activo</th>
                </tr>
                {% if courses|length == 0 %}
                    <tr><td colspan="3" class="text-center">Sin resultados</td></tr>
                {% else %}
                    {% for course in courses %}
                        <tr class="clickable" data-href="{{ path('course_edit', {course_id: course.id|encodeUuid}) }}">
                            <td>{{ course|fullname }}</td>
                            <td>{{ course.school.name }}</td>
                            <td>{{ course.active ? 'Si' : 'No' }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}