{% if type == 'checkbox' %}
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="{{ entity }}-{{ name }}"
                {% if required is defined %}required{% endif %}>
        <label class="form-check-label" for="{{ entity }}-{{ name }}">{{ label }}</label>
    </div>
{% else %}
    <div class="form-group">
        <label for="{{ entity }}-{{ name }}">{{ label }}</label>
        {% if type == 'select' %}
            <select id="{{ entity }}-{{ name }}" name="{{ name }}" class="form-control"
                    {% if required is defined %}required{% endif %}>
                <option></option>
                {% for option in options %}
                    <option value="{{ option.id }}"{% if option.equals(selected) %} selected{% endif %}>
                        {{ option }}
                    </option>
                {% endfor %}
            </select>
        {% else %}
            <input id="{{ entity }}-{{ name }}" name="{{ name }}" type="{{ type }}" class="form-control"
                    {% if value is defined %}value="{{ value }}"{% endif %}
                    {% if required is defined %}required{% endif %}/>
        {% endif %}
    </div>
{% endif %}