{% extends 'base.html.twig' %}

{% block title %}Edades{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2>Edades <a href="{{ path('age_new') }}" class="btn btn-primary">Nueva</a></h2>
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">URL</th>
                </tr>
                </thead>
                <tbody>
                {% if ages|length == 0 %}
                    <tr><td colspan="7" class="text-center">Sin resultados</td></tr>
                {% else %}
                    {% for age in ages %}
                        <tr class="clickable" data-href="{{ path('age_edit', {age_id: age.id|encodeUuid}) }}">
                            <td>{{ age.name }}</td>
                            <td>{{ age.description }}</td>
                            <td>{{ age.url }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}