{% extends 'base.html.twig' %}

{% block title %}Niveles{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2>Niveles <a href="{{ path('level_new') }}" class="btn btn-primary">Nuevo</a></h2>
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">URL</th>
                </tr>
                </thead>
                <tbody>
                {% if levels|length == 0 %}
                    <tr><td colspan="7" class="text-center">Sin resultados</td></tr>
                {% else %}
                    {% for level in levels %}
                        <tr class="clickable" data-href="{{ path('level_edit', {level_id: level.id|encodeUuid}) }}">
                            <td>{{ level.name }}</td>
                            <td>{{ level.description }}</td>
                            <td>{{ level.url }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}