{% extends 'base.html.twig' %}

{% block title %}Editar alumno{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h2>Editar alumno</h2>
            <form action="" method="post" class="mb-2">
                {% include 'form/field.html.twig' with
                    {type: 'text', entity: 'customer', name: 'name', label: 'Nombre', value: customer.name, required: true} only %}

                {% include 'form/field.html.twig' with
                    {type: 'text', entity: 'customer', name: 'surname', label: 'Apellidos', value: customer.surname} only %}

                {% include 'form/field.html.twig' with
                    {type: 'date', entity: 'customer', name: 'birthdate', label: 'Fecha de nacimiento', value: customer.birthdate|formatDate} only %}

                {% include 'form/field.html.twig' with
                    {type: 'email', entity: 'customer', name: 'email', label: 'E-mail', value: customer.email} only %}

                {% include 'form/field.html.twig' with
                    {type: 'text', entity: 'customer', name: 'phone', label: 'Teléfono', value: customer.phone} only %}

                {% include 'form/field.html.twig' with
                    {type: 'text', entity: 'customer', name: 'notes', label: 'Observaciones', value: customer.notes} only %}

                {% if canEdit %}
                    <button type="submit" class="btn btn-primary btn-block">Editar</button>
                    <a href="{{ path('customer_delete', {id: customer.id}) }}" class="btn btn-danger btn-block confirmable">Borrar</a>
                {% endif %}
            </form>
            <a href="{{ path('customer_index') }}">Volver a la lista</a>
        </div>
        <div class="col-6">
            <h2>Familia</h2>
            <ul id="family-members">
                {% for familiar in familiars %}
                    <li>
                        <a href="{{ path('customer_edit', {id: familiar.id}) }}">{{ familiar|fullname }}</a>
                        <button class="btn btn-sm api-caller confirmable" name="familiar_id" value="{{ familiar.id }}"
                                data-href="{{ path('api_remove_familiar', {id: customer.id}) }}"
                                data-callback="updateFamily">
                            <i class="fa fa-times"></i>
                        </button>
                    </li>
                {% endfor %}
            </ul>
            <div class="form-group">
                <label for="search-familiar">Buscar familiares</label>
                <input type="text" id="search-familiar" class="api-caller form-control" data-href="{{ path('api_customer_search') }}" data-callback="showCandidates" name="s" />
            </div>
            <ul id="family-candidates"></ul>
        </div>
    </div>
{% endblock %}
