{% extends 'base.html.twig' %}

{% block title %}Alumnos{% endblock %}

{% block content %}
    <form action="{{ path('customer_index') }}" method="get">
        <input type="text" name="s" value="{{ search }}"/>
        <input type="submit" value="Buscar" />
    </form>
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">E-mail</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Nacimiento</th>
            <th scope="col">Family</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr class="clickable" data-href="{{ path('customer_edit', {id: customer.id}) }}">
                <td>{{ customer.name }}</td>
                <td>{{ customer.surname }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.birthdate|showDate }}</td>
                <td>{{ customer.family ? customer.family.customers|length : '' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}