{% extends 'base.html.twig' %}

{% block title %}Alumnos{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2>Alumnos <a href="{{ path('customer_new') }}" class="btn btn-primary">Nuevo</a></h2>
            {% include 'common/search.html.twig' with {search: search, route: path('customer_index')} only %}
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Nacimiento</th>
                    <th scope="col">Family</th>
                    <th scope="col">Registro</th>
                </tr>
                </thead>
                <tbody>
                {% if customers|length == 0 %}
                    <tr><td colspan="7" class="text-center">Sin resultados</td></tr>
                {% else %}
                    {% for customer in customers %}
                        <tr class="clickable" data-href="{{ path('customer_edit', {customer_id: customer.id|encodeUuid}) }}">
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.surname }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.phone }}</td>
                            <td>{{ customer.birthdate|showDate }}</td>
                            <td>{{ customer.family ? customer.family.customers|length : '' }}</td>
                            <td>{{ customer.createdAt|formatDate }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}