{% extends 'base.html.twig' %}

{% block title %}Disciplinas{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2>Disciplinas <a href="{{ path('discipline_new') }}" class="btn btn-primary">Nueva</a></h2>
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">URL</th>
                </tr>
                </thead>
                <tbody>
                {% if disciplines|length == 0 %}
                    <tr><td colspan="7" class="text-center">Sin resultados</td></tr>
                {% else %}
                    {% for discipline in disciplines %}
                        <tr class="clickable" data-href="{{ path('discipline_edit', {id: discipline.id}) }}">
                            <td>{{ discipline.name }}</td>
                            <td>{{ discipline.description }}</td>
                            <td>{{ discipline.url }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}