{% extends 'base.html.twig' %}

{% block title %}Lugares{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2>Lugares <a href="{{ path('place_new') }}" class="btn btn-primary">Nuevo</a></h2>
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">URL</th>
                    <th scope="col">Zona</th>
                </tr>
                </thead>
                <tbody>
                {% if places|length == 0 %}
                    <tr><td colspan="7" class="text-center">Sin resultados</td></tr>
                {% else %}
                    {% for place in places %}
                        <tr class="clickable" data-href="{{ path('place_edit', {id: place.id}) }}">
                            <td>{{ place.name }}</td>
                            <td>{{ place.description }}</td>
                            <td>{{ place.url }}</td>
                            <td>{{ place.zone.name }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}