{% if type == 'checkbox' %}
    <div class="form-check">
        <input name="{{ name }}" type="hidden" value="0" />
        <input id="{{ entity }}-{{ name }}" name="{{ name }}" type="checkbox" class="form-check-input"
               {% if required is defined %}required{% endif %}{% if value %} checked{% endif %} value="1" />
        <label class="form-check-label" for="{{ entity }}-{{ name }}">{{ label }}</label>
    </div>
{% else %}
    <div class="form-group">
        <label for="{{ entity }}-{{ name }}">{{ label }}</label>
        {% if type == 'select' %}
            <select id="{{ entity }}-{{ name }}" name="{{ name }}" class="form-control"
                    {% if required is defined %}required{% endif %}>
                <option></option>
                {% for option in options %}
                    <option value="{{ option.id }}"{% if option.equals(value) %} selected{% endif %}>
                        {{ option }}
                    </option>
                {% endfor %}
            </select>
        {% else %}
            <input id="{{ entity }}-{{ name }}" name="{{ name }}" type="{{ type }}"{{ 'time' == type ? ' step="300"' : '' }}
                   class="form-control" value="{{ value }}" {% if required is defined %}required{% endif %}/>
        {% endif %}
    </div>
{% endif %}