<form action="{{ route }}" method="get" class="mb-3">
    <div class="input-group">
        <div class="input-group-prepend">
            <input type="submit" value="Buscar" class="btn btn-primary"/>
        </div>
        <label for="input-s" hidden>Buscar</label>
        {% if not type is defined or type == 'text' %}
            <input id="input-s" type="text" name="s" value="{{ search }}" class="form-control auto-submit" autofocus/>
        {% elseif type == 'select' %}
            <select id="input-s" name="s" class="form-control auto-submit" autofocus>
                <option></option>
                {% for option in options %}
                    <option value="{{ option.id }}"{% if option.equals(search) %} selected{% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
        {% endif %}
        <div class="input-group-append">
            <a href="{{ route }}" class="btn btn-outline-primary">Borrar</a>
        </div>
    </div>
</form>