{% extends 'base.html.twig' %}

{% block title %}Escuelas{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2>Escuelas <a href="{{ path('school_new') }}" class="btn btn-primary">Nueva</a></h2>
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">URL</th>
                </tr>
                </thead>
                <tbody>
                {% if schools|length == 0 %}
                    <tr><td colspan="7" class="text-center">Sin resultados</td></tr>
                {% else %}
                    {% for school in schools %}
                        <tr class="clickable" data-href="{{ path('school_edit', {id: school.id}) }}">
                            <td>{{ school.name }}</td>
                            <td>{{ school.description }}</td>
                            <td>{{ school.url }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}